{% extends 'index.html' %}
{% block content %}
<div class="container mt-5 mb-5 light-mode-text animated-text">
    <h1>Projects ✨</h1>
    <p>A selection of projects I've worked on, as a student working towards a cloud specialist</p>
    <div id="repositories" class="row"></div>
</div>

<script>
  const username = 'Waji-97';
  const url = `https://api.github.com/users/${username}/repos`;
  
  fetch(url)
    .then(response => response.json())
    .then(data => {
      const repositories = data;
      const repositoryContainer = document.getElementById('repositories');
  
      for (const repository of repositories) {
        let topics = repository.topics.map((topic) => {
          return `<span class="badge bg-secondary">${topic}</span>`;
        }).join("");
  
        repositoryContainer.innerHTML += `
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-5">
            <a href="${repository.html_url}" class="text-decoration-none">
              <div class="card" style="width: 25rem;">
                <div class="card-body" style="color: black;">
                  <h5 class="card-title"><b>${repository.name}</b></h5>
                  <p class="card-text">${repository.description}</p>
                  <div>${topics}</div>
                  <br>
                  <p class="card-text">🐱‍👤 Go to Github!</p>
                </div>
              </div>
            </a>
          </div>
        `;
      }
    });
  
</script>

<style>
    .card {
        transition: all .2s ease-in-out;
      }
      
      .card:hover {
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
        transform: scale(1.05);
      }
      
</style>


{% endblock %}